#nav .navListItem {
  display: inline-block;
}

#nav {
  margin: 3px 0 0 2rem;
  list-style: none;
}

.navListItem {
  margin: 0;
  padding: 0 0.7rem;
  font-size: 1.25rem;
}

.navLink {
  display: inline-block;
  text-decoration: none;
  color: #3d3d3d;
}
.navLink:hover,
.navLink:visited:hover {
  color: #000000;
}
.navLink:visited {
  color: #333;
}
