#background {
  fill: #0070f5;
  /* fill: #0051ef; */
}
#hairFill {
  fill: none;
  animation: fill 2s forwards;
}

@keyframes fill {
  25% {
    fill: transparent;
  }
  100% {
    fill: white;
  }
}

#whiteHead {
  stroke-dasharray: 1000;
  stroke-dashoffset: 500;
  animation: strokepath 2.5s linear forwards;
}
@keyframes strokepath {
  to {
    stroke-dasharray: 3000;
    stroke-dashoffset: 1000;
  }
}

#blueHead {
  stroke: #002878;
  stroke-dasharray: 1000;
  stroke-dashoffset: -500;
  animation: strokepath2 2.5s 0.2s linear forwards;
}
@keyframes strokepath2 {
  to {
    stroke: #002878;
    stroke-dasharray: 3000;
    stroke-dashoffset: 1200;
  }
}

#blueNose {
  stroke: #002878;
  animation: fillNose 0.01s linear forwards;
}
@keyframes fillNose {
  to {
    stroke: #002878;
  }
}

@media (prefers-color-scheme: dark) {
  #background {
    fill: #0a85ff;
  }
}
